In [54]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Model, Sequential
from pathlib import Path
import matplotlib.pyplot as plt

In [55]:
rating1 = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Anime_Recommendations_System/refs/heads/main/Dataset/rating1.csv')

rating1

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
3906863    36791      2795       7
3906864    36791      2904      10
3906865    36791      3270      10
3906866    36791      3299       8
3906867    36791      3457       9

[3906868 rows x 3 columns]

In [56]:
rating2 = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Anime_Recommendations_System/refs/heads/main/Dataset/rating2.csv')

rating2

         user_id  anime_id  rating
0          36791      3467       7
1          36791      3503       8
2          36791      3549       9
3          36791      3653       8
4          36791      3654       7
...          ...       ...     ...
3906864    73515     16512       7
3906865    73515     17187       9
3906866    73515     22145      10
3906867    73516       790       9
3906868    73516      8074       9

[3906869 rows x 3 columns]

In [57]:
df = pd.concat([rating1, rating2],axis=0)
df.reset_index(inplace=True)
df.drop(columns='index', inplace=True)
df.columns = ["userId", "movieId", "rating"]
df.loc[df['rating'] ==-1,'rating'] = 0

df

         userId  movieId  rating
0             1       20       0
1             1       24       0
2             1       79       0
3             1      226       0
4             1      241       0
...         ...      ...     ...
7813732   73515    16512       7
7813733   73515    17187       9
7813734   73515    22145      10
7813735   73516      790       9
7813736   73516     8074       9

[7813737 rows x 3 columns]

In [58]:
user_ids = df["userId"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
movie_ids = df["movieId"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}
df["user"] = df["userId"].map(user2user_encoded)
df["movie"] = df["movieId"].map(movie2movie_encoded)

In [59]:
num_users = len(user2user_encoded)
num_movies = len(movie2movie_encoded)
df["rating"] = df["rating"].values.astype(np.float32)
# min and max ratings will be used to normalize the ratings later
min_rating = min(df["rating"])
max_rating = max(df["rating"])

print(
    "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
        num_users, num_movies, min_rating, max_rating))

Number of users: 73515, Number of Movies: 11200, Min rating: 0.0, Max rating: 10.0

In [60]:
movie2movie_encoded

{20: 0,
 24: 1,
 79: 2,
 226: 3,
 241: 4,
 355: 5,
 356: 6,
 442: 7,
 487: 8,
 846: 9,
 936: 10,
 1546: 11,
 1692: 12,
 1836: 13,
 2001: 14,
 2025: 15,
 2144: 16,
 2787: 17,
 2993: 18,
 3455: 19,
 4063: 20,
 4214: 21,
 4224: 22,
 4581: 23,
 4744: 24,
 4898: 25,
 4999: 26,
 5034: 27,
 5277: 28,
 5667: 29,
 5781: 30,
 5958: 31,
 6163: 32,
 6205: 33,
 6324: 34,
 6500: 35,
 6547: 36,
 6682: 37,
 6707: 38,
 6747: 39,
 6773: 40,
 6793: 41,
 7088: 42,
 7148: 43,
 7593: 44,
 7739: 45,
 7858: 46,
 8074: 47,
 8407: 48,
 8424: 49,
 8525: 50,
 8630: 51,
 8841: 52,
 9041: 53,
 9062: 54,
 9136: 55,
 9181: 56,
 9330: 57,
 9367: 58,
 9515: 59,
 9581: 60,
 9675: 61,
 9750: 62,
 9790: 63,
 9919: 64,
 10067: 65,
 10073: 66,
 10076: 67,
 10079: 68,
 10080: 69,
 10209: 70,
 10578: 71,
 10604: 72,
 10719: 73,
 10790: 74,
 10793: 75,
 10794: 76,
 10805: 77,
 10897: 78,
 11161: 79,
 11266: 80,
 11617: 81,
 11737: 82,
 11757: 83,
 11759: 84,
 11771: 85,
 12293: 86,
 12549: 87,
 12729: 88,
 13357: 89,
 13367: 90,
 13411: 91,
 13561: 92,
 13663: 93,
 13759: 94,
 14749: 95,
 14813: 96,
 14833: 97,
 14967: 98,
 15117: 99,
 15437: 100,
 15451: 101,
 15583: 102,
 15609: 103,
 16011: 104,
 16498: 105,
 16706: 106,
 17265: 107,
 17729: 108,
 18247: 109,
 18277: 110,
 18753: 111,
 18897: 112,
 19163: 113,
 19221: 114,
 19285: 115,
 19429: 116,
 19815: 117,
 20045: 118,
 20785: 119,
 20787: 120,
 21033: 121,
 21881: 122,
 22147: 123,
 22199: 124,
 22319: 125,
 22535: 126,
 22547: 127,
 22663: 128,
 22877: 129,
 23233: 130,
 23321: 131,
 23847: 132,
 24133: 133,
 24455: 134,
 24873: 135,
 25099: 136,
 25157: 137,
 25159: 138,
 25283: 139,
 25397: 140,
 26243: 141,
 27775: 142,
 27899: 143,
 28121: 144,
 28677: 145,
 29093: 146,
 29095: 147,
 30015: 148,
 30296: 149,
 30544: 150,
 31338: 151,
 31845: 152,
 12189: 153,
 16417: 154,
 154: 155,
 170: 156,
 199: 157,
 225: 158,
 341: 159,
 430: 160,
 527: 161,
 552: 162,
 813: 163,
 1119: 164,
 1121: 165,
 1122: 166,
 1132: 167,
 1292: 168,
 1313: 169,
 1526: 170,
 1535: 171,
 1564: 172,
 1689: 173,
 1764: 174,
 1943: 175,
 2201: 176,
 2404: 177,
 2847: 178,
 3588: 179,
 4026: 180,
 5114: 181,
 5231: 182,
 6178: 183,
 6702: 184,
 6880: 185,
 7695: 186,
 9107: 187,
 9135: 188,
 9760: 189,
 9917: 190,
 9989: 191,
 10408: 192,
 10507: 193,
 11111: 194,
 11703: 195,
 12671: 196,
 14075: 197,
 14093: 198,
 14345: 199,
 14513: 200,
 16512: 201,
 16782: 202,
 16894: 203,
 16918: 204,
 18097: 205,
 18115: 206,
 18393: 207,
 19315: 208,
 20021: 209,
 20159: 210,
 20507: 211,
 20583: 212,
 21507: 213,
 22297: 214,
 22729: 215,
 23301: 216,
 23333: 217,
 23755: 218,
 24415: 219,
 27631: 220,
 28171: 221,
 28223: 222,
 28497: 223,
 28701: 224,
 28891: 225,
 29854: 226,
 30276: 227,
 30503: 228,
 31043: 229,
 31859: 230,
 6: 231,
 72: 232,
 121: 233,
 150: 234,
 166: 235,
 205: 236,
 857: 237,
 1498: 238,
 1691: 239,
 2966: 240,
 4970: 241,
 5341: 242,
 6347: 243,
 10165: 244,
 10620: 245,
 14765: 246,
 16009: 247,
 16742: 248,
 16890: 249,
 17505: 250,
 17777: 251,
 18153: 252,
 18229: 253,
 18507: 254,
 18679: 255,
 19769: 256,
 20053: 257,
 20431: 258,
 20689: 259,
 20931: 260,
 20973: 261,
 21067: 262,
 21085: 263,
 15: 264,
 17: 265,
 18: 266,
 22: 267,
 30: 268,
 45: 269,
 47: 270,
 57: 271,
 63: 272,
 67: 273,
 68: 274,
 132: 275,
 136: 276,
 137: 277,
 138: 278,
 139: 279,
 152: 280,
 174: 281,
 185: 282,
 186: 283,
 189: 284,
 190: 285,
 195: 286,
 223: 287,
 232: 288,
 240: 289,
 245: 290,
 248: 291,
 249: 292,
 250: 293,
 263: 294,
 264: 295,
 265: 296,
 268: 297,
 269: 298,
 272: 299,
 288: 300,
 292: 301,
 335: 302,
 344: 303,
 371: 304,
 379: 305,
 390: 306,
 392: 307,
 406: 308,
 443: 309,
 448: 310,
 481: 311,
 482: 312,
 508: 313,
 517: 314,
 528: 315,
 534: 316,
 550: 317,
 709: 318,
 760: 319,
 761: 320,
 861: 321,
 874: 322,
 896: 323,
 898: 324,
 903: 325,
 905: 326,
 914: 327,
 918: 328,
 981: 329,
 987: 330,
 1117: 331,
 1138: 332,
 1195: 333,
 1210: 334,
 1253: 335,
 1254: 336,
 1257: 337,
 1469: 338,
 1559: 339,
 1614: 340,
 1668: 341,
 1669: 342,
 1674: 343,
 1685: 344,
 1840: 345,
 1887: 346,
 1913: 347,
 1956: 348,
 2034: 349,
 2104: 350,
 2116: 351,
 2159: 352,
 2236: 353,
 2248: 354,
 2330: 355,
 2363: 356,
 2397: 357,
 2398: 358,
 2400: 359,
 2418: 360,
 2424: 361,
 2472: 362,
 2508: 363,
 2594: 364,
 2605: 365,
 2684: 366,
 2789: 367,
 2907: 368,
 2961: 369,
 2962: 370,
 3228: 371,
 3503: 372,
 3515: 373,
 3655: 374,
 3702: 375,
 3712: 376,
 3887: 377,
 3974: 378,
 4015: 379,
 4052: 380,
 4106: 381,
 4437: 382,
 4472: 383,
 4548: 384,
 4654: 385,
 4667: 386,
 4760: 387,
 4975: 388,
 5040: 389,
 5042: 390,
 5081: 391,
 5251: 392,
 5258: 393,
 5279: 394,
 5526: 395,
 5680: 396,
 5681: 397,
 6098: 398,
 6201: 399,
 6211: 400,
 6325: 401,
 6377: 402,
 6385: 403,
 6512: 404,
 6695: 405,
 6746: 406,
 6791: 407,
 6885: 408,
 6956: 409,
 6974: 410,
 7647: 411,
 7661: 412,
 7674: 413,
 7720: 414,
 7762: 415,
 7769: 416,
 7791: 417,
 7817: 418,
 8277: 419,
 8302: 420,
 8408: 421,
 8457: 422,
 8516: 423,
 8619: 424,
 8675: 425,
 8769: 426,
 9074: 427,
 9220: 428,
 9253: 429,
 9355: 430,
 9379: 431,
 9471: 432,
 9479: 433,
 9741: 434,
 9936: 435,
 9969: 436,
 9981: 437,
 10020: 438,
 10030: 439,
 10108: 440,
 10110: 441,
 10119: 442,
 10162: 443,
 10163: 444,
 10172: 445,
 10216: 446,
 10396: 447,
 10397: 448,
 10521: 449,
 10589: 450,
 10638: 451,
 10863: 452,
 11013: 453,
 11113: 454,
 11179: 455,
 11319: 456,
 11371: 457,
 11433: 458,
 11499: 459,
 11577: 460,
 11597: 461,
 11633: 462,
 11761: 463,
 11785: 464,
 11813: 465,
 11843: 466,
 11853: 467,
 12069: 468,
 12431: 469,
 12445: 470,
 12447: 471,
 12467: 472,
 12581: 473,
 12673: 474,
 13055: 475,
 13093: 476,
 13161: 477,
 13201: 478,
 13333: 479,
 13403: 480,
 13479: 481,
 13535: 482,
 13659: 483,
 13851: 484,
 14027: 485,
 14189: 486,
 14199: 487,
 14227: 488,
 14349: 489,
 14467: 490,
 14527: 491,
 14669: 492,
 14685: 493,
 14719: 494,
 14741: 495,
 15039: 496,
 15059: 497,
 15225: 498,
 15315: 499,
 15335: 500,
 15379: 501,
 15417: 502,
 15565: 503,
 15729: 504,
 15771: 505,
 15775: 506,
 15809: 507,
 16067: 508,
 16241: 509,
 16353: 510,
 16444: 511,
 16592: 512,
 16636: 513,
 16694: 514,
 16866: 515,
 17157: 516,
 17247: 517,
 17641: 518,
 17741: 519,
 17827: 520,
 17875: 521,
 17895: 522,
 18001: 523,
 18039: 524,
 18095: 525,
 18139: 526,
 18179: 527,
 18441: 528,
 18465: 529,
 18497: 530,
 18671: 531,
 18677: 532,
 18689: 533,
 18857: 534,
 19023: 535,
 19363: 536,
 19365: 537,
 19369: 538,
 19647: 539,
 19799: 540,
 19953: 541,
 20031: 542,
 20047: 543,
 20057: 544,
 20457: 545,
 20541: 546,
 20545: 547,
 20767: 548,
 20847: 549,
 20853: 550,
 20899: 551,
 20939: 552,
 20977: 553,
 21185: 554,
 21189: 555,
 21327: 556,
 21405: 557,
 21431: 558,
 21561: 559,
 21587: 560,
 21603: 561,
 21647: 562,
 21781: 563,
 21863: 564,
 22789: 565,
 23079: 566,
 23199: 567,
 23251: 568,
 23273: 569,
 23277: 570,
 23289: 571,
 23309: 572,
 23447: 573,
 24135: 574,
 24171: 575,
 24175: 576,
 24627: 577,
 24781: 578,
 24913: 579,
 25183: 580,
 25303: 581,
 25429: 582,
 25635: 583,
 26055: 584,
 26349: 585,
 26441: 586,
 28297: 587,
 28819: 588,
 28907: 589,
 29027: 590,
 29035: 591,
 29317: 592,
 29785: 593,
 29786: 594,
 29803: 595,
 30831: 596,
 31240: 597,
 31636: 598,
 31722: 599,
 31964: 600,
 32182: 601,
 32828: 602,
 59: 603,
 228: 604,
 317: 605,
 1311: 606,
 1594: 607,
 1726: 608,
 1818: 609,
 2994: 610,
 3713: 611,
 6045: 612,
 7054: 613,
 7059: 614,
 8425: 615,
 9656: 616,
 10418: 617,
 10504: 618,
 10800: 619,
 11285: 620,
 12079: 621,
 12893: 622,
 14397: 623,
 16317: 624,
 31: 625,
 32: 626,
 64: 627,
 65: 628,
 111: 629,
 210: 630,
 270: 631,
 339: 632,
 357: 633,
 407: 634,
 435: 635,
 530: 636,
 532: 637,
 535: 638,
 568: 639,
 740: 640,
 849: 641,
 934: 642,
 996: 643,
 1172: 644,
 1259: 645,
 1563: 646,
 1575: 647,
 1719: 648,
 1889: 649,
 2012: 650,
 2026: 651,
 2131: 652,
 2167: 653,
 2213: 654,
 2237: 655,
 2759: 656,
 2899: 657,
 2904: 658,
 3086: 659,
 3652: 660,
 3784: 661,
 3785: 662,
 4028: 663,
 4059: 664,
 4181: 665,
 4192: 666,
 4382: 667,
 4896: 668,
 5233: 669,
 5521: 670,
 6166: 671,
 6213: 672,
 6351: 673,
 6811: 674,
 8460: 675,
 8861: 676,
 8876: 677,
 8937: 678,
 9032: 679,
 9047: 680,
 9063: 681,
 9618: 682,
 9756: 683,
 9958: 684,
 10456: 685,
 10491: 686,
 10588: 687,
 11061: 688,
 11743: 689,
 11763: 690,
 11933: 691,
 11977: 692,
 11979: 693,
 11981: 694,
 12783: 695,
 12967: 696,
 13261: 697,
 13587: 698,
 13939: 699,
 14407: 700,
 14653: 701,
 15377: 702,
 15411: 703,
 15687: 704,
 15879: 705,
 15911: 706,
 16049: 707,
 16157: 708,
 16700: 709,
 16762: 710,
 16934: 711,
 16982: 712,
 17513: 713,
 17725: 714,
 18041: 715,
 18893: 716,
 19151: 717,
 19367: 718,
 19855: 719,
 20033: 720,
 20479: 721,
 20919: 722,
 21177: 723,
 21325: 724,
 21473: 725,
 21511: 726,
 21541: 727,
 21653: 728,
 21679: 729,
 22057: 730,
 22071: 731,
 22273: 732,
 22961: 733,
 23153: 734,
 23227: 735,
 23383: 736,
 23421: 737,
 23427: 738,
 23945: 739,
 24037: 740,
 24075: 741,
 24227: 742,
 24365: 743,
 24543: 744,
 24655: 745,
 24703: 746,
 24713: 747,
 24765: 748,
 25687: 749,
 25689: 750,
 26351: 751,
 27787: 752,
 27829: 753,
 28179: 754,
 28215: 755,
 28285: 756,
 28391: 757,
 28713: 758,
 28825: 759,
 28979: 760,
 28999: 761,
 29067: 762,
 29163: 763,
 29589: 764,
 30300: 765,
 30307: 766,
 30321: 767,
 30347: 768,
 30363: 769,
 30365: 770,
 30379: 771,
 30384: 772,
 30740: 773,
 30749: 774,
 30885: 775,
 30991: 776,
 31149: 777,
 31156: 778,
 31404: 779,
 31439: 780,
 31442: 781,
 31560: 782,
 31630: 783,
 31637: 784,
 31704: 785,
 31716: 786,
 31737: 787,
 31867: 788,
 31914: 789,
 31952: 790,
 31953: 791,
 31980: 792,
 32093: 793,
 32108: 794,
 32171: 795,
 32215: 796,
 32360: 797,
 32380: 798,
 32553: 799,
 33091: 800,
 33341: 801,
 11241: 802,
 2581: 803,
 43: 804,
 44: 805,
 54: 806,
 61: 807,
 104: 808,
 120: 809,
 122: 810,
 143: 811,
 149: 812,
 164: 813,
 177: 814,
 202: 815,
 243: 816,
 338: 817,
 416: 818,
 431: 819,
 440: 820,
 441: 821,
 449: 822,
 450: 823,
 451: 824,
 452: 825,
 497: 826,
 512: 827,
 513: 828,
 522: 829,
 523: 830,
 531: 831,
 543: 832,
 565: 833,
 572: 834,
 578: 835,
 589: 836,
 597: 837,
 687: 838,
 723: 839,
 759: 840,
 790: 841,
 853: 842,
 855: 843,
 879: 844,
 997: 845,
 1002: 846,
 1032: 847,
 1060: 848,
 1118: 849,
 1239: 850,
 1240: 851,
 1709: 852,
 2313: 853,
 2685: 854,
 2890: 855,
 3577: 856,
 5030: 857,
 5060: 858,
 6164: 859,
 6280: 860,
 12355: 861,
 12365: 862,
 13599: 863,
 13601: 864,
 21241: 865,
 21339: 866,
 22145: 867,
 22265: 868,
 23281: 869,
 25015: 870,
 28675: 871,
 302: 872,
 877: 873,
 1562: 874,
 4182: 875,
 6033: 876,
 6573: 877,
 7338: 878,
 8888: 879,
 1: 880,
 5: 881,
 19: 882,
 25: 883,
 114: 884,
 198: 885,
 227: 886,
 239: 887,
 323: 888,
 330: 889,
 437: 890,
 486: 891,
 570: 892,
 658: 893,
 777: 894,
 875: 895,
 889: 896,
 958: 897,
 974: 898,
 1050: 899,
 1192: 900,
 1246: 901,
 1379: 902,
 1519: 903,
 1571: 904,
 1774: 905,
 1980: 906,
 2154: 907,
 2175: 908,
 2246: 909,
 2251: 910,
 2385: 911,
 2386: 912,
 2985: 913,
 3002: 914,
 3087: 915,
 3901: 916,
 4087: 917,
 4901: 918,
 4983: 919,
 6030: 920,
 6162: 921,
 6675: 922,
 6774: 923,
 7724: 924,
 8440: 925,
 8726: 926,
 8795: 927,
 9834: 928,
 10087: 929,
 10191: 930,
 10271: 931,
 10357: 932,
 10389: 933,
 10711: 934,
 10721: 935,
 10739: 936,
 10798: 937,
 10845: 938,
 10893: 939,
 10924: 940,
 11531: 941,
 12413: 942,
 12623: 943,
 12883: 944,
 13053: 945,
 13331: 946,
 14131: 947,
 14353: 948,
 15391: 949,
 16005: 950,
 16035: 951,
 17821: 952,
 18619: 953,
 19257: 954,
 19775: 955,
 20709: 956,
 21659: 957,
 21843: 958,
 22135: 959,
 23283: 960,
 23327: 961,
 133: 962,
 135: 963,
 433: 964,
 587: 965,
 969: 966,
 2129: 967,
 2155: 968,
 2336: 969,
 2926: 970,
 2927: 971,
 3229: 972,
 3299: 973,
 4186: 974,
 4938: 975,
 5734: 976,
 5764: 977,
 6408: 978,
 6772: 979,
 7590: 980,
 8514: 981,
 8536: 982,
 8676: 983,
 8934: 984,
 9117: 985,
 9252: 986,
 9465: 987,
 9724: 988,
 9925: 989,
 10092: 990,
 10372: 991,
 10447: 992,
 10568: 993,
 11887: 994,
 12175: 995,
 14293: 996,
 15689: 997,
 16397: 998,
 17074: 999,
 ...}

In [61]:
df.head()

   userId  movieId  rating  user  movie
0       1       20     0.0     0      0
1       1       24     0.0     0      1
2       1       79     0.0     0      2
3       1      226     0.0     0      3
4       1      241     0.0     0      4

In [62]:
num_users = len(user2user_encoded)
num_movies = len(movie2movie_encoded)
df["rating"] = df["rating"].values.astype(np.float32)
# min and max ratings will be used to normalize the ratings later
min_rating = min(df["rating"])
max_rating = max(df["rating"])

print(
    "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
        num_users, num_movies, min_rating, max_rating))

Number of users: 73515, Number of Movies: 11200, Min rating: 0.0, Max rating: 10.0

In [63]:
df = df.sample(frac=1, random_state=42) # randomly sample the data-set
x = df[["user", "movie"]].values
# Normalize the targets between 0 and 1. Makes it easy to train.
y = df["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

In [64]:
x_train.shape

(7032363, 2)

In [65]:
y_train.shape

(7032363,)

In [66]:
## defining the model
embedding_size = 50

user_ips= layers.Input(shape=[1])
user_embedding = layers.Embedding(num_users,embedding_size,embeddings_initializer="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(user_ips)
# Embedding layer will create 610 vectors look-up table of 50 dimension each
user_vect= layers.Flatten()(user_embedding)

movie_ips= layers.Input(shape=[1])
movie_embedding = layers.Embedding(num_movies, embedding_size, embeddings_initializer="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(movie_ips)
movie_vect= layers.Flatten()(movie_embedding)

prod = layers.dot(inputs=[user_vect, movie_vect],axes=1)

dense1= layers.Dense(150, activation='relu', kernel_initializer="he_normal")(prod)
dense2= layers.Dense(50, activation='relu',kernel_initializer="he_normal")(dense1)
dense3= layers.Dense(1,activation='relu')(dense2)

model = Model([user_ips, movie_ips], dense3)
model.compile(optimizer='adam',loss='mean_squared_error')

keras.utils.plot_model(model,show_shapes=True)

You must install pydot (`pip install pydot`) for `plot_model` to work.

In [67]:
history = model.fit([x_train[:,0], x_train[:,1]], y_train, batch_size=64,epochs=10,verbose=1)

Epoch 1/10

c:\Users\ASUS\anaconda3\Lib\site-packages\keras\src\models\functional.py:225: UserWarning: The structure of `inputs` doesn't match the expected structure: ['keras_tensor_60', 'keras_tensor_63']. Received: the structure of inputs=('*', '*')
  warnings.warn(

109881/109881 ━━━━━━━━━━━━━━━━━━━━ 6346s 58ms/step - loss: 0.5146
Epoch 2/10
 59429/109881 ━━━━━━━━━━━━━━━━━━━━ 47:38 57ms/step - loss: 0.5145

KeyboardInterrupt:

In [ ]:
pred=model.predict([x_train[4:5,0], x_train[4:5,1]])
pred

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 140ms/step

array([[0.7133116]], dtype=float32)