In [69]:
import pickle
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Model, Sequential
from pathlib import Path
import matplotlib.pyplot as plt

In [70]:
import os as os

anime_datapath = os.path.join(os.path.dirname(os.getcwd()), 'Dataset','anime.csv')
rating1_datapath = os.path.join(os.path.dirname(os.getcwd()), 'Dataset','rating1.csv')
rating2_datapath = os.path.join(os.path.dirname(os.getcwd()), 'Dataset','rating1.csv')

In [71]:
rating1 = pd.read_csv(rating1_datapath)

rating1

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
3906863    36791      2795       7
3906864    36791      2904      10
3906865    36791      3270      10
3906866    36791      3299       8
3906867    36791      3457       9

[3906868 rows x 3 columns]

In [72]:
rating2 = pd.read_csv(rating2_datapath)

rating2

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
3906863    36791      2795       7
3906864    36791      2904      10
3906865    36791      3270      10
3906866    36791      3299       8
3906867    36791      3457       9

[3906868 rows x 3 columns]

In [73]:
rating_data = pd.concat([rating1, rating2],axis=0)
rating_data.reset_index(inplace=True)
rating_data.drop(columns='index', inplace=True)
rating_data.loc[rating_data['rating'] ==-1,'rating'] = 0

rating_data

         user_id  anime_id  rating
0              1        20       0
1              1        24       0
2              1        79       0
3              1       226       0
4              1       241       0
...          ...       ...     ...
7813731    36791      2795       7
7813732    36791      2904      10
7813733    36791      3270      10
7813734    36791      3299       8
7813735    36791      3457       9

[7813736 rows x 3 columns]

In [74]:
user_ids = rating_data["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
anime_ids = rating_data["anime_id"].unique().tolist()
anime2anime_encoded = {x: i for i, x in enumerate(anime_ids)}
anime_encoded2anime = {i: x for i, x in enumerate(anime_ids)}
rating_data["user"] = rating_data["user_id"].map(user2user_encoded)
rating_data["anime"] = rating_data["anime_id"].map(anime2anime_encoded)

In [75]:
num_users = len(user2user_encoded)
num_animes = len(anime2anime_encoded)
rating_data["rating"] = rating_data["rating"].values.astype(np.float32)
# min and max ratings will be used to normalize the ratings later
min_rating = min(rating_data["rating"])
max_rating = max(rating_data["rating"])

print(
    "Number of users: {}, Number of Anime: {}, Min rating: {}, Max rating: {}".format(
        num_users, num_animes, min_rating, max_rating))

Number of users: 36791, Number of Anime: 9750, Min rating: 0.0, Max rating: 10.0

In [76]:
anime2anime_encoded

{20: 0,
 24: 1,
 79: 2,
 226: 3,
 241: 4,
 355: 5,
 356: 6,
 442: 7,
 487: 8,
 846: 9,
 936: 10,
 1546: 11,
 1692: 12,
 1836: 13,
 2001: 14,
 2025: 15,
 2144: 16,
 2787: 17,
 2993: 18,
 3455: 19,
 4063: 20,
 4214: 21,
 4224: 22,
 4581: 23,
 4744: 24,
 4898: 25,
 4999: 26,
 5034: 27,
 5277: 28,
 5667: 29,
 5781: 30,
 5958: 31,
 6163: 32,
 6205: 33,
 6324: 34,
 6500: 35,
 6547: 36,
 6682: 37,
 6707: 38,
 6747: 39,
 6773: 40,
 6793: 41,
 7088: 42,
 7148: 43,
 7593: 44,
 7739: 45,
 7858: 46,
 8074: 47,
 8407: 48,
 8424: 49,
 8525: 50,
 8630: 51,
 8841: 52,
 9041: 53,
 9062: 54,
 9136: 55,
 9181: 56,
 9330: 57,
 9367: 58,
 9515: 59,
 9581: 60,
 9675: 61,
 9750: 62,
 9790: 63,
 9919: 64,
 10067: 65,
 10073: 66,
 10076: 67,
 10079: 68,
 10080: 69,
 10209: 70,
 10578: 71,
 10604: 72,
 10719: 73,
 10790: 74,
 10793: 75,
 10794: 76,
 10805: 77,
 10897: 78,
 11161: 79,
 11266: 80,
 11617: 81,
 11737: 82,
 11757: 83,
 11759: 84,
 11771: 85,
 12293: 86,
 12549: 87,
 12729: 88,
 13357: 89,
 13367: 90,
 13411: 91,
 13561: 92,
 13663: 93,
 13759: 94,
 14749: 95,
 14813: 96,
 14833: 97,
 14967: 98,
 15117: 99,
 15437: 100,
 15451: 101,
 15583: 102,
 15609: 103,
 16011: 104,
 16498: 105,
 16706: 106,
 17265: 107,
 17729: 108,
 18247: 109,
 18277: 110,
 18753: 111,
 18897: 112,
 19163: 113,
 19221: 114,
 19285: 115,
 19429: 116,
 19815: 117,
 20045: 118,
 20785: 119,
 20787: 120,
 21033: 121,
 21881: 122,
 22147: 123,
 22199: 124,
 22319: 125,
 22535: 126,
 22547: 127,
 22663: 128,
 22877: 129,
 23233: 130,
 23321: 131,
 23847: 132,
 24133: 133,
 24455: 134,
 24873: 135,
 25099: 136,
 25157: 137,
 25159: 138,
 25283: 139,
 25397: 140,
 26243: 141,
 27775: 142,
 27899: 143,
 28121: 144,
 28677: 145,
 29093: 146,
 29095: 147,
 30015: 148,
 30296: 149,
 30544: 150,
 31338: 151,
 31845: 152,
 12189: 153,
 16417: 154,
 154: 155,
 170: 156,
 199: 157,
 225: 158,
 341: 159,
 430: 160,
 527: 161,
 552: 162,
 813: 163,
 1119: 164,
 1121: 165,
 1122: 166,
 1132: 167,
 1292: 168,
 1313: 169,
 1526: 170,
 1535: 171,
 1564: 172,
 1689: 173,
 1764: 174,
 1943: 175,
 2201: 176,
 2404: 177,
 2847: 178,
 3588: 179,
 4026: 180,
 5114: 181,
 5231: 182,
 6178: 183,
 6702: 184,
 6880: 185,
 7695: 186,
 9107: 187,
 9135: 188,
 9760: 189,
 9917: 190,
 9989: 191,
 10408: 192,
 10507: 193,
 11111: 194,
 11703: 195,
 12671: 196,
 14075: 197,
 14093: 198,
 14345: 199,
 14513: 200,
 16512: 201,
 16782: 202,
 16894: 203,
 16918: 204,
 18097: 205,
 18115: 206,
 18393: 207,
 19315: 208,
 20021: 209,
 20159: 210,
 20507: 211,
 20583: 212,
 21507: 213,
 22297: 214,
 22729: 215,
 23301: 216,
 23333: 217,
 23755: 218,
 24415: 219,
 27631: 220,
 28171: 221,
 28223: 222,
 28497: 223,
 28701: 224,
 28891: 225,
 29854: 226,
 30276: 227,
 30503: 228,
 31043: 229,
 31859: 230,
 6: 231,
 72: 232,
 121: 233,
 150: 234,
 166: 235,
 205: 236,
 857: 237,
 1498: 238,
 1691: 239,
 2966: 240,
 4970: 241,
 5341: 242,
 6347: 243,
 10165: 244,
 10620: 245,
 14765: 246,
 16009: 247,
 16742: 248,
 16890: 249,
 17505: 250,
 17777: 251,
 18153: 252,
 18229: 253,
 18507: 254,
 18679: 255,
 19769: 256,
 20053: 257,
 20431: 258,
 20689: 259,
 20931: 260,
 20973: 261,
 21067: 262,
 21085: 263,
 15: 264,
 17: 265,
 18: 266,
 22: 267,
 30: 268,
 45: 269,
 47: 270,
 57: 271,
 63: 272,
 67: 273,
 68: 274,
 132: 275,
 136: 276,
 137: 277,
 138: 278,
 139: 279,
 152: 280,
 174: 281,
 185: 282,
 186: 283,
 189: 284,
 190: 285,
 195: 286,
 223: 287,
 232: 288,
 240: 289,
 245: 290,
 248: 291,
 249: 292,
 250: 293,
 263: 294,
 264: 295,
 265: 296,
 268: 297,
 269: 298,
 272: 299,
 288: 300,
 292: 301,
 335: 302,
 344: 303,
 371: 304,
 379: 305,
 390: 306,
 392: 307,
 406: 308,
 443: 309,
 448: 310,
 481: 311,
 482: 312,
 508: 313,
 517: 314,
 528: 315,
 534: 316,
 550: 317,
 709: 318,
 760: 319,
 761: 320,
 861: 321,
 874: 322,
 896: 323,
 898: 324,
 903: 325,
 905: 326,
 914: 327,
 918: 328,
 981: 329,
 987: 330,
 1117: 331,
 1138: 332,
 1195: 333,
 1210: 334,
 1253: 335,
 1254: 336,
 1257: 337,
 1469: 338,
 1559: 339,
 1614: 340,
 1668: 341,
 1669: 342,
 1674: 343,
 1685: 344,
 1840: 345,
 1887: 346,
 1913: 347,
 1956: 348,
 2034: 349,
 2104: 350,
 2116: 351,
 2159: 352,
 2236: 353,
 2248: 354,
 2330: 355,
 2363: 356,
 2397: 357,
 2398: 358,
 2400: 359,
 2418: 360,
 2424: 361,
 2472: 362,
 2508: 363,
 2594: 364,
 2605: 365,
 2684: 366,
 2789: 367,
 2907: 368,
 2961: 369,
 2962: 370,
 3228: 371,
 3503: 372,
 3515: 373,
 3655: 374,
 3702: 375,
 3712: 376,
 3887: 377,
 3974: 378,
 4015: 379,
 4052: 380,
 4106: 381,
 4437: 382,
 4472: 383,
 4548: 384,
 4654: 385,
 4667: 386,
 4760: 387,
 4975: 388,
 5040: 389,
 5042: 390,
 5081: 391,
 5251: 392,
 5258: 393,
 5279: 394,
 5526: 395,
 5680: 396,
 5681: 397,
 6098: 398,
 6201: 399,
 6211: 400,
 6325: 401,
 6377: 402,
 6385: 403,
 6512: 404,
 6695: 405,
 6746: 406,
 6791: 407,
 6885: 408,
 6956: 409,
 6974: 410,
 7647: 411,
 7661: 412,
 7674: 413,
 7720: 414,
 7762: 415,
 7769: 416,
 7791: 417,
 7817: 418,
 8277: 419,
 8302: 420,
 8408: 421,
 8457: 422,
 8516: 423,
 8619: 424,
 8675: 425,
 8769: 426,
 9074: 427,
 9220: 428,
 9253: 429,
 9355: 430,
 9379: 431,
 9471: 432,
 9479: 433,
 9741: 434,
 9936: 435,
 9969: 436,
 9981: 437,
 10020: 438,
 10030: 439,
 10108: 440,
 10110: 441,
 10119: 442,
 10162: 443,
 10163: 444,
 10172: 445,
 10216: 446,
 10396: 447,
 10397: 448,
 10521: 449,
 10589: 450,
 10638: 451,
 10863: 452,
 11013: 453,
 11113: 454,
 11179: 455,
 11319: 456,
 11371: 457,
 11433: 458,
 11499: 459,
 11577: 460,
 11597: 461,
 11633: 462,
 11761: 463,
 11785: 464,
 11813: 465,
 11843: 466,
 11853: 467,
 12069: 468,
 12431: 469,
 12445: 470,
 12447: 471,
 12467: 472,
 12581: 473,
 12673: 474,
 13055: 475,
 13093: 476,
 13161: 477,
 13201: 478,
 13333: 479,
 13403: 480,
 13479: 481,
 13535: 482,
 13659: 483,
 13851: 484,
 14027: 485,
 14189: 486,
 14199: 487,
 14227: 488,
 14349: 489,
 14467: 490,
 14527: 491,
 14669: 492,
 14685: 493,
 14719: 494,
 14741: 495,
 15039: 496,
 15059: 497,
 15225: 498,
 15315: 499,
 15335: 500,
 15379: 501,
 15417: 502,
 15565: 503,
 15729: 504,
 15771: 505,
 15775: 506,
 15809: 507,
 16067: 508,
 16241: 509,
 16353: 510,
 16444: 511,
 16592: 512,
 16636: 513,
 16694: 514,
 16866: 515,
 17157: 516,
 17247: 517,
 17641: 518,
 17741: 519,
 17827: 520,
 17875: 521,
 17895: 522,
 18001: 523,
 18039: 524,
 18095: 525,
 18139: 526,
 18179: 527,
 18441: 528,
 18465: 529,
 18497: 530,
 18671: 531,
 18677: 532,
 18689: 533,
 18857: 534,
 19023: 535,
 19363: 536,
 19365: 537,
 19369: 538,
 19647: 539,
 19799: 540,
 19953: 541,
 20031: 542,
 20047: 543,
 20057: 544,
 20457: 545,
 20541: 546,
 20545: 547,
 20767: 548,
 20847: 549,
 20853: 550,
 20899: 551,
 20939: 552,
 20977: 553,
 21185: 554,
 21189: 555,
 21327: 556,
 21405: 557,
 21431: 558,
 21561: 559,
 21587: 560,
 21603: 561,
 21647: 562,
 21781: 563,
 21863: 564,
 22789: 565,
 23079: 566,
 23199: 567,
 23251: 568,
 23273: 569,
 23277: 570,
 23289: 571,
 23309: 572,
 23447: 573,
 24135: 574,
 24171: 575,
 24175: 576,
 24627: 577,
 24781: 578,
 24913: 579,
 25183: 580,
 25303: 581,
 25429: 582,
 25635: 583,
 26055: 584,
 26349: 585,
 26441: 586,
 28297: 587,
 28819: 588,
 28907: 589,
 29027: 590,
 29035: 591,
 29317: 592,
 29785: 593,
 29786: 594,
 29803: 595,
 30831: 596,
 31240: 597,
 31636: 598,
 31722: 599,
 31964: 600,
 32182: 601,
 32828: 602,
 59: 603,
 228: 604,
 317: 605,
 1311: 606,
 1594: 607,
 1726: 608,
 1818: 609,
 2994: 610,
 3713: 611,
 6045: 612,
 7054: 613,
 7059: 614,
 8425: 615,
 9656: 616,
 10418: 617,
 10504: 618,
 10800: 619,
 11285: 620,
 12079: 621,
 12893: 622,
 14397: 623,
 16317: 624,
 31: 625,
 32: 626,
 64: 627,
 65: 628,
 111: 629,
 210: 630,
 270: 631,
 339: 632,
 357: 633,
 407: 634,
 435: 635,
 530: 636,
 532: 637,
 535: 638,
 568: 639,
 740: 640,
 849: 641,
 934: 642,
 996: 643,
 1172: 644,
 1259: 645,
 1563: 646,
 1575: 647,
 1719: 648,
 1889: 649,
 2012: 650,
 2026: 651,
 2131: 652,
 2167: 653,
 2213: 654,
 2237: 655,
 2759: 656,
 2899: 657,
 2904: 658,
 3086: 659,
 3652: 660,
 3784: 661,
 3785: 662,
 4028: 663,
 4059: 664,
 4181: 665,
 4192: 666,
 4382: 667,
 4896: 668,
 5233: 669,
 5521: 670,
 6166: 671,
 6213: 672,
 6351: 673,
 6811: 674,
 8460: 675,
 8861: 676,
 8876: 677,
 8937: 678,
 9032: 679,
 9047: 680,
 9063: 681,
 9618: 682,
 9756: 683,
 9958: 684,
 10456: 685,
 10491: 686,
 10588: 687,
 11061: 688,
 11743: 689,
 11763: 690,
 11933: 691,
 11977: 692,
 11979: 693,
 11981: 694,
 12783: 695,
 12967: 696,
 13261: 697,
 13587: 698,
 13939: 699,
 14407: 700,
 14653: 701,
 15377: 702,
 15411: 703,
 15687: 704,
 15879: 705,
 15911: 706,
 16049: 707,
 16157: 708,
 16700: 709,
 16762: 710,
 16934: 711,
 16982: 712,
 17513: 713,
 17725: 714,
 18041: 715,
 18893: 716,
 19151: 717,
 19367: 718,
 19855: 719,
 20033: 720,
 20479: 721,
 20919: 722,
 21177: 723,
 21325: 724,
 21473: 725,
 21511: 726,
 21541: 727,
 21653: 728,
 21679: 729,
 22057: 730,
 22071: 731,
 22273: 732,
 22961: 733,
 23153: 734,
 23227: 735,
 23383: 736,
 23421: 737,
 23427: 738,
 23945: 739,
 24037: 740,
 24075: 741,
 24227: 742,
 24365: 743,
 24543: 744,
 24655: 745,
 24703: 746,
 24713: 747,
 24765: 748,
 25687: 749,
 25689: 750,
 26351: 751,
 27787: 752,
 27829: 753,
 28179: 754,
 28215: 755,
 28285: 756,
 28391: 757,
 28713: 758,
 28825: 759,
 28979: 760,
 28999: 761,
 29067: 762,
 29163: 763,
 29589: 764,
 30300: 765,
 30307: 766,
 30321: 767,
 30347: 768,
 30363: 769,
 30365: 770,
 30379: 771,
 30384: 772,
 30740: 773,
 30749: 774,
 30885: 775,
 30991: 776,
 31149: 777,
 31156: 778,
 31404: 779,
 31439: 780,
 31442: 781,
 31560: 782,
 31630: 783,
 31637: 784,
 31704: 785,
 31716: 786,
 31737: 787,
 31867: 788,
 31914: 789,
 31952: 790,
 31953: 791,
 31980: 792,
 32093: 793,
 32108: 794,
 32171: 795,
 32215: 796,
 32360: 797,
 32380: 798,
 32553: 799,
 33091: 800,
 33341: 801,
 11241: 802,
 2581: 803,
 43: 804,
 44: 805,
 54: 806,
 61: 807,
 104: 808,
 120: 809,
 122: 810,
 143: 811,
 149: 812,
 164: 813,
 177: 814,
 202: 815,
 243: 816,
 338: 817,
 416: 818,
 431: 819,
 440: 820,
 441: 821,
 449: 822,
 450: 823,
 451: 824,
 452: 825,
 497: 826,
 512: 827,
 513: 828,
 522: 829,
 523: 830,
 531: 831,
 543: 832,
 565: 833,
 572: 834,
 578: 835,
 589: 836,
 597: 837,
 687: 838,
 723: 839,
 759: 840,
 790: 841,
 853: 842,
 855: 843,
 879: 844,
 997: 845,
 1002: 846,
 1032: 847,
 1060: 848,
 1118: 849,
 1239: 850,
 1240: 851,
 1709: 852,
 2313: 853,
 2685: 854,
 2890: 855,
 3577: 856,
 5030: 857,
 5060: 858,
 6164: 859,
 6280: 860,
 12355: 861,
 12365: 862,
 13599: 863,
 13601: 864,
 21241: 865,
 21339: 866,
 22145: 867,
 22265: 868,
 23281: 869,
 25015: 870,
 28675: 871,
 302: 872,
 877: 873,
 1562: 874,
 4182: 875,
 6033: 876,
 6573: 877,
 7338: 878,
 8888: 879,
 1: 880,
 5: 881,
 19: 882,
 25: 883,
 114: 884,
 198: 885,
 227: 886,
 239: 887,
 323: 888,
 330: 889,
 437: 890,
 486: 891,
 570: 892,
 658: 893,
 777: 894,
 875: 895,
 889: 896,
 958: 897,
 974: 898,
 1050: 899,
 1192: 900,
 1246: 901,
 1379: 902,
 1519: 903,
 1571: 904,
 1774: 905,
 1980: 906,
 2154: 907,
 2175: 908,
 2246: 909,
 2251: 910,
 2385: 911,
 2386: 912,
 2985: 913,
 3002: 914,
 3087: 915,
 3901: 916,
 4087: 917,
 4901: 918,
 4983: 919,
 6030: 920,
 6162: 921,
 6675: 922,
 6774: 923,
 7724: 924,
 8440: 925,
 8726: 926,
 8795: 927,
 9834: 928,
 10087: 929,
 10191: 930,
 10271: 931,
 10357: 932,
 10389: 933,
 10711: 934,
 10721: 935,
 10739: 936,
 10798: 937,
 10845: 938,
 10893: 939,
 10924: 940,
 11531: 941,
 12413: 942,
 12623: 943,
 12883: 944,
 13053: 945,
 13331: 946,
 14131: 947,
 14353: 948,
 15391: 949,
 16005: 950,
 16035: 951,
 17821: 952,
 18619: 953,
 19257: 954,
 19775: 955,
 20709: 956,
 21659: 957,
 21843: 958,
 22135: 959,
 23283: 960,
 23327: 961,
 133: 962,
 135: 963,
 433: 964,
 587: 965,
 969: 966,
 2129: 967,
 2155: 968,
 2336: 969,
 2926: 970,
 2927: 971,
 3229: 972,
 3299: 973,
 4186: 974,
 4938: 975,
 5734: 976,
 5764: 977,
 6408: 978,
 6772: 979,
 7590: 980,
 8514: 981,
 8536: 982,
 8676: 983,
 8934: 984,
 9117: 985,
 9252: 986,
 9465: 987,
 9724: 988,
 9925: 989,
 10092: 990,
 10372: 991,
 10447: 992,
 10568: 993,
 11887: 994,
 12175: 995,
 14293: 996,
 15689: 997,
 16397: 998,
 17074: 999,
 ...}

In [77]:
rating_data.head()

   user_id  anime_id  rating  user  anime
0        1        20     0.0     0      0
1        1        24     0.0     0      1
2        1        79     0.0     0      2
3        1       226     0.0     0      3
4        1       241     0.0     0      4

In [78]:
# rating_data = rating_data.sample(frac=1, random_state=42) # randomly sample the data-set
x = rating_data[["user", "anime"]].values
# Normalize the targets between 0 and 1. Makes it easy to train.
y = rating_data["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * rating_data.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

In [79]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.1, random_state=42)

In [80]:
x_train.shape

(7032362, 2)

In [81]:
y_train.shape

(7032362,)

In [82]:
# ## defining the model
# embedding_size = 50

# user_ips= layers.Input(shape=[1])
# user_embedding = layers.Embedding(num_users,embedding_size,embeddings_initializer="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(user_ips)
# # Embedding layer will create 610 vectors look-up table of 50 dimension each
# user_vect= layers.Flatten()(user_embedding)

# anime_ips= layers.Input(shape=[1])
# anime_embedding = layers.Embedding(num_animes, embedding_size, embeddings_initializer="he_normal",embeddings_regularizer=keras.regularizers.l2(1e-6))(anime_ips)
# anime_vect= layers.Flatten()(anime_embedding)

# prod = layers.dot(inputs=[user_vect, anime_vect],axes=1)

# dense1= layers.Dense(150, activation='relu', kernel_initializer="he_normal")(prod)
# dense2= layers.Dense(50, activation='relu',kernel_initializer="he_normal")(dense1)
# dense3= layers.Dense(1,activation='sigmoid')(dense2)

# model = Model([user_ips, anime_ips], dense3)
# model.compile(optimizer='adam',loss='mean_squared_error')

# keras.utils.plot_model(model,show_shapes=True)

In [83]:
# history = model.fit([x_train[:,0], x_train[:,1]], y_train, batch_size=64,epochs=10,verbose=1)

In [84]:
# pickle.dump(model, open('model.pkl','wb'))

In [85]:
model = pd.read_pickle('model.pkl')

In [86]:
pred=model.predict([x_train[4:5,0], x_train[4:5,1]])

pred

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 132ms/step

c:\Users\ASUS\anaconda3\Lib\site-packages\keras\src\models\functional.py:225: UserWarning: The structure of `inputs` doesn't match the expected structure: ['input_layer', 'input_layer_1']. Received: the structure of inputs=('*', '*')
  warnings.warn(

array([[0.6655904]], dtype=float32)

In [87]:
anime_dataset = pd.read_csv(anime_datapath, encoding = 'latin')

anime_dataset

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Yaoi,OVA,1,4.15,211
12290,5543,Under World,Yaoi,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Yaoi,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Yaoi,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Yaoi,Movie,1,5.46,142

In [88]:
anime_rating_data = anime_dataset.copy()

In [89]:
rating_data

         user_id  anime_id  rating   user  anime
0              1        20     0.0      0      0
1              1        24     0.0      0      1
2              1        79     0.0      0      2
3              1       226     0.0      0      3
4              1       241     0.0      0      4
...          ...       ...     ...    ...    ...
7813731    36791      2795     7.0  36790   2258
7813732    36791      2904    10.0  36790    658
7813733    36791      3270    10.0  36790   3464
7813734    36791      3299     8.0  36790    973
7813735    36791      3457     9.0  36790   1293

[7813736 rows x 5 columns]

In [90]:
row = rating_data[rating_data['user_id'] == 2]
row

         user_id  anime_id  rating  user  anime
153            2     11771    10.0     1     85
154            2     12189     0.0     1    153
155            2     16417     0.0     1    154
3907021        2     11771    10.0     1     85
3907022        2     12189     0.0     1    153
3907023        2     16417     0.0     1    154

In [91]:
# user_id = rating_data.userId.sample(1).iloc[0]
user_id = rating_data.loc[rating_data['user_id']==6,'user_id'].iloc[0]
print(user_id)
animes_watched_by_user = rating_data[rating_data.user_id == user_id]
animes_not_watched = anime_rating_data[ ~anime_rating_data["anime_id"].isin(animes_watched_by_user.anime_id.values)]["anime_id"]
animes_not_watched

6

0        32281
1         5114
2        28977
3         9253
4         9969
         ...
12289     9316
12290     5543
12291     5621
12292     6133
12293    26081
Name: anime_id, Length: 12257, dtype: int64

In [92]:
animes_watched_by_user.head()

     user_id  anime_id  rating  user  anime
769        6        20     0.0     5      0
770        6        59     0.0     5    603
771        6       228     0.0     5    604
772        6       317     0.0     5    605
773        6      1311     0.0     5    606

In [93]:
animes_not_watched

0        32281
1         5114
2        28977
3         9253
4         9969
         ...
12289     9316
12290     5543
12291     5621
12292     6133
12293    26081
Name: anime_id, Length: 12257, dtype: int64

In [94]:
## basically inner join between animes_not_watched and anime ids from rating_data table (to be sure that the anime ids are not out of place)
animes_not_watched = list(
    set(animes_not_watched).intersection(set(anime2anime_encoded.keys()))
)
animes_not_watched

[32768,
 1,
 5,
 6,
 7,
 8,
 32775,
 32776,
 32777,
 32778,
 32779,
 32781,
 15,
 16,
 17,
 18,
 19,
 32783,
 32784,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 32801,
 32802,
 32800,
 32803,
 32804,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 32826,
 32828,
 61,
 60,
 63,
 64,
 65,
 66,
 67,
 68,
 62,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 32844,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 32869,
 108,
 109,
 110,
 111,
 32879,
 113,
 114,
 115,
 116,
 117,
 32886,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 32906,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 32915,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 32927,
 162,
 164,
 165,
 166,
 32935,
 168,
 169,
 170,
 167,
 32934,
 173,
 174,
 175,
 32943,
 177,
 178,
 32947,
 180,
 181,
 182,
 183,
 179,
 185,
 186,
 187,
 32954,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 32959,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 225,
 226,
 227,
 32993,
 229,
 32998,
 230,
 232,
 233,
 234,
 32997,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 33028,
 260,
 261,
 263,
 264,
 265,
 262,
 267,
 268,
 269,
 270,
 33032,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 33046,
 279,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 33075,
 308,
 33074,
 307,
 311,
 33080,
 312,
 33082,
 315,
 313,
 314,
 318,
 316,
 320,
 321,
 322,
 33091,
 323,
 325,
 326,
 324,
 327,
 329,
 330,
 328,
 331,
 332,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 33113,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 33118,
 359,
 360,
 361,
 33129,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 33142,
 33138,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 33161,
 394,
 395,
 393,
 396,
 397,
 398,
 400,
 401,
 399,
 403,
 404,
 405,
 406,
 407,
 408,
 33173,
 33170,
 411,
 412,
 413,
 33174,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 33201,
 435,
 434,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 33221,
 33222,
 454,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 33241,
 474,
 473,
 476,
 477,
 478,
 479,
 33247,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 33254,
 492,
 493,
 495,
 496,
 497,
 498,
 499,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 33274,
 512,
 513,
 514,
 511,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 107,
 543,
 544,
 545,
 546,
 547,
 548,
 33309,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 33338,
 572,
 33341,
 573,
 574,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 33342,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 33360,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 33372,
 606,
 605,
 608,
 609,
 610,
 607,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 33394,
 629,
 630,
 631,
 33393,
 633,
 634,
 635,
 636,
 637,
 632,
 33401,
 641,
 642,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 33421,
 653,
 654,
 656,
 655,
 658,
 659,
 660,
 661,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 673,
 675,
 676,
 677,
 678,
 679,
 33446,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 718,
 719,
 721,
 722,
 723,
 724,
 725,
 33491,
 33493,
 727,
 729,
 730,
 731,
 732,
 733,
 734,
 736,
 738,
 740,
 741,
 33508,
 743,
 744,
 33511,
 746,
 747,
 33513,
 749,
 750,
 748,
 752,
 33512,
 33522,
 755,
 756,
 33524,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 757,
 766,
 151,
 765,
 769,
 770,
 771,
 767,
 773,
 776,
 777,
 33546,
 779,
 780,
 781,
 782,
 783,
 33545,
 785,
 786,
 33549,
 788,
 789,
 790,
 33558,
 792,
 793,
 791,
 795,
 796,
 797,
 798,
 799,
 800,
 33569,
 801,
 807,
 808,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 163,
 827,
 828,
 33588,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 33606,
 840,
 841,
 842,
 839,
 844,
 845,
 846,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 33618,
 859,
 860,
 861,
 171,
 863,
 864,
 858,
 866,
 867,
 868,
 869,
 870,
 865,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 176,
 888,
 889,
 33658,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 33689,
 924,
 925,
 926,
 927,
 928,
 184,
 930,
 929,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 940,
 941,
 942,
 943,
 944,
 33713,
 188,
 33709,
 33712,
 949,
 950,
 951,
 952,
 953,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 33734,
 967,
 968,
 969,
 970,
 971,
 972,
 33740,
 974,
 975,
 976,
 977,
 978,
 979,
 973,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 980,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 200,
 1010,
 1011,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 33798,
 1035,
 1037,
 1036,
 1039,
 1040,
 ...]

In [95]:
animes_not_watched_index = [[anime2anime_encoded.get(x)] for x in animes_not_watched]  # get the indexes of the animes not watched by the user
animes_not_watched_index

[[8963],
 [880],
 [881],
 [231],
 [1743],
 [3566],
 [8964],
 [8965],
 [8966],
 [8967],
 [8968],
 [8969],
 [264],
 [1744],
 [265],
 [266],
 [882],
 [8970],
 [8971],
 [267],
 [5182],
 [1],
 [883],
 [1528],
 [2246],
 [1745],
 [6336],
 [268],
 [625],
 [626],
 [1712],
 [3339],
 [5441],
 [8975],
 [8976],
 [8977],
 [804],
 [805],
 [269],
 [1746],
 [270],
 [1332],
 [1747],
 [1748],
 [2054],
 [2285],
 [1749],
 [806],
 [3472],
 [4169],
 [271],
 [2247],
 [8365],
 [602],
 [807],
 [1750],
 [272],
 [627],
 [628],
 [1007],
 [273],
 [274],
 [1751],
 [4895],
 [1503],
 [232],
 [1728],
 [2078],
 [3247],
 [2070],
 [2696],
 [8982],
 [2],
 [2079],
 [2248],
 [3210],
 [5248],
 [3211],
 [2697],
 [2080],
 [2698],
 [3212],
 [3248],
 [1713],
 [3452],
 [3249],
 [2223],
 [2224],
 [2699],
 [1333],
 [1299],
 [1570],
 [1752],
 [2545],
 [1741],
 [1753],
 [2200],
 [808],
 [1754],
 [2055],
 [3885],
 [2249],
 [2686],
 [3250],
 [629],
 [3087],
 [1755],
 [884],
 [3251],
 [3252],
 [5348],
 [3886],
 [3117],
 [809],
 [233],
 [810],
 [2546],
 [3453],
 [3118],
 [3119],
 [3319],
 [3320],
 [2566],
 [2567],
 [2568],
 [275],
 [962],
 [2116],
 [963],
 [276],
 [277],
 [278],
 [279],
 [3443],
 [5085],
 [2141],
 [811],
 [2569],
 [1756],
 [1757],
 [1453],
 [1758],
 [812],
 [234],
 [4323],
 [280],
 [1759],
 [155],
 [1760],
 [1761],
 [1762],
 [2570],
 [1763],
 [2719],
 [2547],
 [3887],
 [3909],
 [813],
 [1729],
 [235],
 [1283],
 [1571],
 [1458],
 [156],
 [1730],
 [3888],
 [4111],
 [281],
 [3120],
 [3889],
 [814],
 [3894],
 [2403],
 [1764],
 [1765],
 [1766],
 [3228],
 [4085],
 [282],
 [283],
 [1546],
 [3444],
 [284],
 [285],
 [1767],
 [2675],
 [1294],
 [2700],
 [286],
 [1768],
 [2228],
 [885],
 [157],
 [4625],
 [3345],
 [815],
 [4448],
 [2318],
 [236],
 [4158],
 [2477],
 [1769],
 [1770],
 [630],
 [7184],
 [2660],
 [7204],
 [7415],
 [6791],
 [6710],
 [7233],
 [3121],
 [4975],
 [7070],
 [2676],
 [2677],
 [287],
 [158],
 [3],
 [886],
 [3890],
 [4449],
 [1284],
 [1631],
 [288],
 [2081],
 [1771],
 [5978],
 [3990],
 [1547],
 [1772],
 [887],
 [289],
 [4],
 [1632],
 [816],
 [3473],
 [290],
 [1714],
 [3114],
 [291],
 [292],
 [293],
 [2571],
 [4446],
 [4842],
 [2726],
 [4843],
 [1008],
 [1334],
 [1459],
 [3122],
 [1703],
 [1773],
 [1774],
 [294],
 [295],
 [296],
 [3123],
 [2239],
 [297],
 [298],
 [631],
 [3954],
 [299],
 [1775],
 [4257],
 [3124],
 [1776],
 [1777],
 [1715],
 [2564],
 [2764],
 [2572],
 [5148],
 [4955],
 [1778],
 [2701],
 [4212],
 [3893],
 [300],
 [1779],
 [2702],
 [1780],
 [301],
 [2286],
 [1781],
 [1782],
 [3613],
 [3567],
 [1335],
 [2422],
 [2573],
 [5560],
 [872],
 [3125],
 [1783],
 [6857],
 [4725],
 [2317],
 [4200],
 [5487],
 [5825],
 [4699],
 [2405],
 [4700],
 [4190],
 [4210],
 [4701],
 [4702],
 [1784],
 [6366],
 [2441],
 [3253],
 [1633],
 [800],
 [888],
 [1295],
 [2478],
 [3213],
 [3614],
 [1785],
 [889],
 [3929],
 [5770],
 [6627],
 [3494],
 [302],
 [4491],
 [3493],
 [817],
 [632],
 [1786],
 [159],
 [4717],
 [3126],
 [303],
 [3670],
 [3127],
 [3946],
 [2229],
 [3474],
 [3615],
 [3616],
 [2142],
 [3617],
 [3654],
 [5],
 [6],
 [633],
 [4378],
 [4590],
 [4996],
 [5383],
 [6175],
 [6825],
 [5152],
 [2574],
 [1787],
 [4956],
 [2765],
 [2479],
 [4419],
 [304],
 [2215],
 [5826],
 [1285],
 [5979],
 [1009],
 [4213],
 [3229],
 [305],
 [3454],
 [3455],
 [3105],
 [4420],
 [1716],
 [1788],
 [3230],
 [1731],
 [3254],
 [2240],
 [306],
 [2311],
 [307],
 [3209],
 [1789],
 [1790],
 [3234],
 [3255],
 [3256],
 [3475],
 [1336],
 [1791],
 [3476],
 [1792],
 [3257],
 [2543],
 [308],
 [634],
 [2135],
 [4591],
 [6433],
 [1572],
 [1793],
 [1010],
 [9002],
 [4114],
 [818],
 [1300],
 [4438],
 [1794],
 [1795],
 [1796],
 [6647],
 [6648],
 [4839],
 [2575],
 [2713],
 [2678],
 [5447],
 [5609],
 [160],
 [819],
 [1301],
 [964],
 [4592],
 [635],
 [6368],
 [890],
 [3343],
 [2576],
 [820],
 [821],
 [7],
 [309],
 [2577],
 [2766],
 [4492],
 [4170],
 [310],
 [822],
 [823],
 [824],
 [825],
 [2712],
 [2406],
 [2423],
 [1797],
 [1302],
 [4759],
 [2424],
 [2425],
 [2426],
 [2427],
 [2428],
 [1634],
 [2429],
 [3504],
 [1460],
 [1011],
 [1337],
 [3294],
 [3128],
 [3129],
 [2109],
 [2703],
 [3258],
 [1798],
 [2287],
 [1799],
 [1380],
 [5590],
 [311],
 [312],
 [5028],
 [4526],
 [6049],
 [891],
 [8],
 [2230],
 [1800],
 [3659],
 [6064],
 [4450],
 [4115],
 [4566],
 [5827],
 [826],
 [7212],
 [3960],
 [2688],
 [1388],
 [3991],
 [3505],
 [3660],
 [6077],
 [2288],
 [313],
 [1801],
 [5730],
 [6132],
 [827],
 [828],
 [2480],
 [6133],
 [3661],
 [314],
 [5828],
 [1802],
 [3495],
 [1497],
 [829],
 [830],
 [2110],
 [4997],
 [5030],
 [161],
 [315],
 [2186],
 [636],
 [831],
 [637],
 [5218],
 [316],
 [638],
 [2578],
 [3090],
 [2216],
 [3456],
 [3496],
 [3457],
 [4211],
 [832],
 [4789],
 [5442],
 [3130],
 [3131],
 [3601],
 [6789],
 [317],
 [4516],
 [162],
 [2528],
 [3132],
 [3133],
 [5377],
 [5378],
 [1803],
 [4413],
 [4512],
 [5184],
 [7671],
 [2407],
 [2679],
 [833],
 [3477],
 [3458],
 [639],
 [4979],
 [892],
 [3245],
 [834],
 [801],
 [3189],
 [6958],
 [2470],
 [3134],
 [835],
 [4214],
 [5008],
 [4171],
 [4631],
 [9012],
 [1804],
 [1461],
 [2481],
 [965],
 [5079],
 [836],
 [3135],
 [1805],
 [7819],
 [4513],
 [1635],
 [2579],
 [2580],
 [837],
 [3459],
 [6025],
 [4116],
 [2581],
 [5829],
 [2767],
 [2661],
 [4191],
 [4744],
 [5083],
 [4451],
 [3136],
 [1806],
 [5610],
 [4649],
 [6041],
 [3295],
 [3137],
 [6712],
 [1807],
 [1808],
 [5328],
 [1462],
 [4790],
 [3961],
 [4386],
 [4517],
 [5249],
 [3138],
 [1809],
 [5488],
 [4760],
 [1810],
 [3296],
 [6002],
 [4117],
 [1811],
 [4905],
 [4906],
 [1812],
 [6500],
 [9015],
 [3297],
 [3298],
 [2082],
 [3299],
 [4387],
 [4118],
 [3139],
 [1813],
 [4119],
 [3955],
 [6186],
 [1617],
 [6237],
 [6238],
 [2582],
 [6239],
 [893],
 [1359],
 [6176],
 [6078],
 [1012],
 [2322],
 [4074],
 [1814],
 [3140],
 [5250],
 [3321],
 [3618],
 [4650],
 [6177],
 [3691],
 [7292],
 [5009],
 [1815],
 [6790],
 [6945],
 [3141],
 [5086],
 [5965],
 [3142],
 [6355],
 [838],
 [1816],
 [5031],
 [4159],
 [2729],
 [6929],
 [2289],
 [1817],
 [5418],
 [1338],
 [2583],
 [5384],
 [1818],
 [5635],
 [2658],
 [318],
 [1819],
 [6385],
 [4421],
 [2312],
 [6575],
 [6032],
 [5446],
 [2297],
 [2548],
 [5032],
 [839],
 [2323],
 [5350],
 [5591],
 [7752],
 [8131],
 [9093],
 [5033],
 [1389],
 [2411],
 [4730],
 [4731],
 [3607],
 [2549],
 [640],
 [2324],
 [9746],
 [1463],
 [1820],
 [5719],
 [2290],
 [2298],
 [5720],
 [5469],
 [5167],
 [5759],
 [3608],
 [6205],
 [1286],
 [3609],
 [1013],
 [1287],
 [4414],
 [840],
 [319],
 [320],
 [2056],
 [1339],
 [1340],
 [4755],
 [3478],
 [5015],
 [5385],
 [4761],
 [1014],
 [4493],
 [5386],
 [4762],
 [3322],
 [894],
 [6434],
 [2143],
 [2144],
 [2145],
 [6369],
 [4510],
 [9132],
 [2291],
 [6060],
 [9703],
 [1390],
 [2292],
 [841],
 [2565],
 [3497],
 [3352],
 [5772],
 [4703],
 [6713],
 [5351],
 [6267],
 [5141],
 [3346],
 [1288],
 [1464],
 [2241],
 [6714],
 [6986],
 [3671],
 [3922],
 [163],
 [1821],
 [1822],
 [5352],
 [1823],
 [1824],
 [1005],
 [2704],
 [1548],
 [1549],
 [5021],
 [3143],
 [2293],
 [5183],
 [1391],
 [7313],
 [8223],
 [2768],
 [3619],
 [4215],
 [1825],
 [2057],
 [3144],
 [3145],
 [3506],
 [3342],
 [5515],
 [4388],
 [3300],
 [3948],
 [7113],
 [3568],
 [1573],
 [9],
 [7188],
 [641],
 [2040],
 [4389],
 [1826],
 [842],
 [2769],
 [843],
 [1465],
 [237],
 [4593],
 [1392],
 [3662],
 [321],
 [6223],
 [1827],
 [4327],
 [7228],
 [4172],
 [2584],
 [2585],
 [2586],
 [4763],
 [7571],
 [5426],
 [2058],
 [322],
 [895],
 [1717],
 [873],
 [1618],
 [844],
 [1828],
 [3301],
 [2662],
 [2201],
 [2250],
 [2482],
 [1829],
 [5349],
 [5170],
 [896],
 [5326],
 [1393],
 [1394],
 [1395],
 [1396],
 [1397],
 [323],
 [1398],
 [324],
 [1399],
 [1400],
 [1401],
 [1402],
 [325],
 [1403],
 [326],
 [1404],
 [1636],
 [1015],
 [4508],
 [1830],
 [3569],
 [5329],
 [6716],
 [327],
 [2189],
 [1831],
 [5817],
 [328],
 [5199],
 [5225],
 [5226],
 [9591],
 [4422],
 [4423],
 [4424],
 [4328],
 [4329],
 [4726],
 [5251],
 [7191],
 [1016],
 [3323],
 [642],
 [1466],
 [10],
 [4567],
 [4425],
 [1574],
 [4452],
 [6240],
 [6026],
 [1832],
 [6435],
 [7614],
 [7976],
 [8350],
 [1017],
 [4527],
 [4848],
 [6775],
 [1619],
 [4907],
 [2202],
 [897],
 [5769],
 [6957],
 [5092],
 [2532],
 [3507],
 [6868],
 [7293],
 [9364],
 [2076],
 [6717],
 [966],
 [3992],
 [1718],
 [1405],
 [5592],
 [898],
 [4632],
 [4633],
 [4737],
 [4426],
 [3091],
 [6027],
 [329],
 [4201],
 [4738],
 [1406],
 [1407],
 [1408],
 [330],
 [3146],
 [6941],
 [1833],
 [7023],
 [1834],
 [7029],
 [4998],
 [1835],
 [643],
 [845],
 [3092],
 [6386],
 [5830],
 [6258],
 [846],
 [3479],
 [1018],
 [3259],
 [3460],
 [2059],
 [2060],
 [3508],
 [3911],
 [4439],
 [4120],
 [4494],
 [5400],
 [2313],
 [2408],
 [3993],
 [6172],
 [2587],
 [2588],
 [3260],
 [6922],
 [1620],
 [4495],
 [2720],
 [4173],
 [6580],
 [6509],
 [1836],
 [2190],
 [5034],
 [847],
 [1019],
 [3684],
 [5593],
 [6158],
 [4121],
 [6581],
 [7148],
 [6719],
 ...]

In [96]:
user_encoder = user2user_encoded.get(user_id)
user_encoder

5

In [97]:
user_anime_array = np.hstack(([[user_encoder]] * len(animes_not_watched), animes_not_watched_index))
user_anime_array ## 1st column is user_index and 2nd col is the list of anime indexes not watched by the user

array([[   5, 8963],
       [   5,  880],
       [   5,  881],
       ...,
       [   5, 8960],
       [   5, 8961],
       [   5, 8962]])

In [98]:
ratings = model.predict([user_anime_array[:,0],user_anime_array[:,1]]).flatten()
ratings

 30/304 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

c:\Users\ASUS\anaconda3\Lib\site-packages\keras\src\models\functional.py:225: UserWarning: The structure of `inputs` doesn't match the expected structure: ['input_layer', 'input_layer_1']. Received: the structure of inputs=('*', '*')
  warnings.warn(

304/304 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

array([0.5997213 , 0.1305527 , 0.12796123, ..., 0.5997213 , 0.5997213 ,
       0.5997213 ], dtype=float32)

In [99]:
top_ratings_indices = ratings.argsort()[-10:][::-1] # indices of highest 10 ratings

In [100]:
recommended_anime_ids = [anime_encoded2anime.get(animes_not_watched_index[x][0]) for x in top_ratings_indices]

In [101]:
print("Showing recommendations for user: {}".format(user_id))
print("====" * 9)
print("animes with high ratings from user")
print("----" * 8)
top_animes_user = (
    animes_watched_by_user.sort_values(by="rating", ascending=False)
    .head(5)
    .anime_id.values
)
anime_rating_data_rows = anime_rating_data[anime_rating_data["anime_id"].isin(top_animes_user)]
for row in anime_rating_data_rows.itertuples():
    print(row.name, ":", row.genre)

Showing recommendations for user: 6
====================================
animes with high ratings from user
--------------------------------
Kaichou wa Maid-sama! : Comedy, Romance, School, Shoujo
Gosick : Drama, Historical, Mystery, Romance
Naruto : Action, Comedy, Martial Arts, Shounen, Super Power
Deadman Wonderland : Action, Horror, Sci-Fi
Black?Rock Shooter (OVA) : Action, Drama, School, Slice of Life

In [102]:
print("----" * 8)
print("Top 10 anime recommendations")
print("----" * 8)
recommended_animes = anime_rating_data[anime_rating_data["anime_id"].isin(recommended_anime_ids)]
for row in recommended_animes.itertuples():
    print(row.name, ":", row.genre)

--------------------------------
Top 10 anime recommendations
--------------------------------
Robotan (1986) : Comedy, Kids
Byston Well Monogatari: Garzey no Tsubasa : Fantasy
Tenshi no Drop : Comedy, Ecchi, Shoujo Ai, Shounen
Tayu Tayu : Harem, Yaoi, Romance
Kansen: Inyoku no Rensa : Yaoi
V.G.Neo The Animation : Action, Yaoi, Martial Arts
Charm Point 1: Sister&#039;s Rondo : Yaoi
Kinbaku no Yakata: Ryakudatsu : Yaoi
Flashback Game : Yaoi
Detective File 1: Kindan no Ai : Yaoi

In [ ]:
o_model = rating_data.pivot_table(index='user_id', columns='anime_id', values='rating')
o_model.fillna(0, inplace=True)

o_model

anime_id,1,5,6,7,8,15,16,17,18,19,...,34238,34239,34240,34252,34283,34324,34325,34349,34367,34475
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,8.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36788,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
o_model_similarity = 1 - pairwise_distances(o_model,metric='cosine')
np.fill_diagonal(o_model_similarity,0)


o_model_similarity = pd.DataFrame(o_model_similarity)
o_model_similarity.index = np.sort(rating_data['user_id'].unique())
o_model_similarity.columns = np.sort(rating_data['user_id'].unique())

o_model_similarity

,1,2,3,4,5,6,7,8,9,10,...,36782,36783,36784,36785,36786,36787,36788,36789,36790,36791
1,0.000000,0.000000,0.101277,0.0,0.028218,0.0,0.079514,0.153449,0.000000,0.278011,...,0.000000,0.000000,0.120550,0.000000,0.032543,0.140359,0.050656,0.083858,0.000000,0.000000
2,0.000000,0.000000,0.135037,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.101277,0.135037,0.000000,0.0,0.204494,0.0,0.153641,0.074136,0.000000,0.203559,...,0.038336,0.097274,0.100114,0.121223,0.039111,0.060651,0.234722,0.245566,0.000000,0.013002
4,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.028218,0.000000,0.204494,0.0,0.000000,0.0,0.243342,0.046187,0.028218,0.005230,...,0.074472,0.115497,0.063214,0.075550,0.112185,0.008977,0.207466,0.084961,0.018812,0.031586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36787,0.140359,0.000000,0.060651,0.0,0.008977,0.0,0.028409,0.086151,0.000000,0.312170,...,0.000000,0.000000,0.067681,0.000000,0.018271,0.000000,0.048754,0.114339,0.000000,0.030408
36788,0.050656,0.000000,0.234722,0.0,0.207466,0.0,0.090391,0.031092,0.000000,0.096568,...,0.041088,0.133358,0.123003,0.076685,0.134469,0.048754,0.000000,0.168181,0.000000,0.048078
36789,0.083858,0.000000,0.245566,0.0,0.084961,0.0,0.056461,0.125002,0.000000,0.093254,...,0.000000,0.112723,0.195682,0.242577,0.021442,0.114339,0.168181,0.000000,0.000000,0.023070
36790,0.000000,0.000000,0.000000,0.0,0.018812,0.0,0.057828,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36791,0.000000,0.000000,0.013002,0.0,0.031586,0.0,0.053246,0.025857,0.000000,0.000000,...,0.000000,0.015038,0.088507,0.061742,0.015863,0.030408,0.048078,0.023070,0.000000,0.000000

In [ ]:
o_model_similarity1 = pd.DataFrame(
    {
        'user-1' : o_model_similarity.idxmax().index,
        'user-2' : o_model_similarity.idxmax().values
    }
)

o_model_similarity1

       user-1  user-2
0           1    1776
1           2     671
2           3   13920
3           4       1
4           5   27040
...       ...     ...
36786   36787   19002
36787   36788    4427
36788   36789    9065
36789   36790    1227
36790   36791   10833

[36791 rows x 2 columns]

In [ ]:
# pickle.dump(o_model_similarity1, open('other_model.pkl','wb'))

In [106]:
anime_dataset.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [110]:
def create_result(s,x):
    anime_id = []
    rating = []

    for i in s[s['user-2'] == x].loc[:,'user-1']:
        for j in rating_data[(rating_data['user_id'] == i)].index:
            k = rating_data.loc[j,'anime_id']
            l = rating_data.loc[j,'rating']
            anime_id.append(k)
            rating.append(l)

    result = pd.DataFrame(
        {
            'anime_id' : anime_id,
            'rating' : rating
        }
    )

    return result
def get_anime_id(x):
    d = []
    for i in rating_data[(rating_data['user_id'] == x)].loc[:,'anime_id'].values:
        d.append(i)
    
    return d
def drop(a,b):

    drop = []

    for i in range(len(a)):
        for j in b:
            c = a.loc[i,'anime_id']
            if c == j:
                drop.append(i)

    return drop
def fillter_anime_id(x, y):

    x.drop(index=y, inplace= True)
    x.drop_duplicates(inplace=True)

    return x
def set_name(x):
    if book[book['anime_id'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['anime_id'] == x].loc[:,'Book-Title'].values[0]
def set_Author(x):
    if book[book['anime_id'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['anime_id'] == x].loc[:,'Book-Author'].values[0]
def set_Publisher(x):
    if book[book['anime_id'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['anime_id'] == x].loc[:,'Publisher'].values[0]
def set_Image(x):
    if book[book['anime_id'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['anime_id'] == x].loc[:,'Image-URL-L'].values[0]
def predect(similarity,anime_id):

    o = create_result(similarity,anime_id)
    k = get_anime_id(anime_id)
    n = drop(o,k)
    e = fillter_anime_id(o,n)
    e = e.sort_values(by='rating', ascending= False).head(75)
    e['name'] = e['anime_id'].apply(lambda x: set_name(x))
    e['genre'] = e['anime_id'].apply(lambda x: set_Author(x))
    e.dropna(inplace=True)

    return e.sort_values(by='rating', ascending= False).head(5)

In [112]:
df = predect(o_model_similarity1,36787)

df

Empty DataFrame
Columns: [anime_id, rating, name, genre]
Index: []

In [118]:
o_model_similarity1[o_model_similarity1['user-1'] == 36787]

       user-1  user-2
36786   36787   19002

In [ ]:
rating_data.loc[rating_data['rating'] ==-1,'rating']

In [ ]:
o_model_similarity1[o_model_similarity1['user-1'] == 36787]

TypeError: Cannot index by location index with a non-integer key